#headline {
	text-align:center;
	font-size: 200%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#site_name {
	color: #31b0d5;
}

#delete_item {
	color: red;
}

.light_font {
	font-family: 'Raleway', sans-serif;
}

.btn_font_size {
	font-size: 150%;
}

.operation_buttons {
	margin-bottom: 1%;
	margin-left: 1%;
}

.header_font {
	font-family: 'Exo', sans-serif;
	font-size: medium;
}

.tbl_style {
	font-family: 'Lato', sans-serif;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.non_visible {
	display: none;
}